*{
    margin: 0;
    padding: 0;
}
body{
    background:#ebebeb;
}

#funcionalidade{
    
    width: 70%;
    float: left;
    border: solid 1px;
    border-radius: 0px 0px 35px 35px; 
    border: solid 1px;
    border-color: transparent;
    border-top: none;    
    max-width: 70%;
    min-height: 800px;
}
/* Formata a div TOP*/
#top{
    width: 100%;
    height: 100px;
    max-height: 150px;
    background: rgb(2, 2, 2);
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
#logo{
    float: left;

    width: 400px;
    height:100px;
    max-height:150px;
}
#logo h1{
    padding:10px;
    font-size: 45px; 
}
.texto_logo{
    color:#fffc4f;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
}
.texto_logo_p{
    float: left;
    margin-top: -8%;
    margin-left: 45% ;
    font-size: 45px; 
    padding: 5px;
    color:#fffc4f;
    font-weight: bolder;
}
#pesquisar{
    height: 100px;
    max-width:600px;
    max-height: 150px;
    width: 600px;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}
#faz_pesquisa{
    float: left;
    width: 450px;
    height: 55px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
#lbl_form_pesquisar{
    background: white;
    border: solid 1px rgb(243, 240, 240);
    border-radius: 3px;
    margin-top: 1%;
    padding: 1%;
    text-align: center;
    display: flex;
}
#faz_pesquisa p{
    color: #fffc4f;
    padding: 8px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
::-webkit-input-placeholder{
    color: rgb(199, 199, 199);
}
input:-webkit-autofill{
    width: 450px;
}
#lbl_form_pesquisar input:focus, button:focus{
    outline: 0;
}
#lbl_form_pesquisar button:hover{
    cursor: pointer;
}
#lbl_form_pesquisar input:nth-child(1){
    width: 400px;
    margin-top: 2px;
    margin-left: 2%;
    height:25px;
    border: none;
    border-right: solid 1px rgb(221, 217, 217);
    background: white;
}
#lbl_form_pesquisar button{
    width: 50px;
    height:30px;
    color:  rgb(221, 217, 217);
    background: white;
    border: none;
}
/* formata interacao*/
#conteiner_interacao{
    width: 23.5%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
#carrinho{
    max-width: 208px;
    width: 100%;
    height: 80.5%;
    background: transparent;
    float: left;
    position: relative;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
}
#carrinho a{
    color: #fffc4f;
    text-decoration: none;
}
#carrinho a:hover{
    color: white;
    text-decoration: underline;
}
#carro{
    margin-top: 15px;
    float: left;
}
#carro i{
    font-size: 40px;
    color: #fffc4f;
    margin-right: 5px;
}
#texto_carro{
    margin: 25px;
    float: left;
    margin-left: 0;
    color: #fffc4f;
}

#carrinho p:nth-child(2){
    font-size: 13px;
    text-align: end;
}
#login{
    box-sizing: border-box;
    height: 80.5%;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    float: right;
}
#login button{
    font-size: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 90%;
    margin-top: 15px;
}
#login {
    cursor: pointer;
}
#login button{
    color: #fffc4f;
}
#login button:hover{
    color:white;
}
#dados1{
    position: relative;
    float: right;

    margin-top: 14px;
    width: 200px;
    z-index: 1;
    background:white;
    border-radius: 0px 0px 0px 10px;
    box-sizing: border-box;
    border-left: gray;
    box-shadow:-4px 5px 5px 3px rgba(192, 191, 191, 0.5);
}
#dados1 ul li {
    border-bottom: solid 1px rgb(138, 138, 138,0.3);
}
#dados1 ul  li :nth-last-child(1){
    border-bottom: none;
}
.dados{
    display: none;
    
}
#dados1 ul li{
    list-style-type: none;
    text-align: center;
    padding: 10px;
}
#dados1 ul li:hover{
    background-color: #f0f1f0;
    cursor: pointer;
    text-decoration: underline;
}
#dados1 ul  li {
   
   color: rgb(138, 138, 138);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
}
#dados1 a{
    text-decoration: none;
}
/* Boas vindas*/
#boasVindas{
    width: 100%;
    
    height: 18%;
    position: relative;
    box-sizing: border-box;
    float: left;
    margin-top: 80px;
    margin-left: -310px;
    z-index: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
#boasVindas p{
    font-size: 13px;
    text-align: end;
    color: #fffc4f;
}
#boasVindas a{
    text-decoration: none;
    color: #fffc4f;
}
#boasVindas a:hover{
    color: white;
    text-decoration: underline;
}
#boasVindas span{
    color: #fffc4f;
}
/* Formata a Div conteudo */
#conteudo{
    width: 100%;
 
    border-radius: 10px 10px 10px 10px;
  
}
/* Formata lateral Esquerda*/
#div_lateral_esquerda{
    min-height: 500px;
    max-height: 600px;
    box-sizing: border-box;
    width: 15.3rem;
    text-align: center;
    float: left;
    background: transparent;
    border-radius: 0px 0px 10px 10px;
    vertical-align: middle;
}
#div_lateral_esquerda a{
    text-decoration: none;
    color: rgb(83, 81, 81);
     
}
#div_lateral_esquerda h1:nth-child(1){
    padding: 45px;
    margin: 0;
    float: left;
}
#div_lateral_esquerda ul li{
    padding: 8px;
}
#div_lateral_esquerda ul li:nth-child(1){
    margin-top:50%;
}
#div_lateral_esquerda a:hover{
    color: red;
    transition: 1s;
    text-decoration: underline;
}
/* Formata Div Conteiner*/
#conteiner{
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    
}
/* Formata conteudo específico*/
#conteudo_especifico{
    width: 280px;
    height: 400px;
    max-height: 400px;
    margin: 10px;
    background: white;
    margin-top: 20px;
    border: solid 1px #cccbcb;
    border-radius: 30px 30px 30px 30px;
    box-sizing: border-box;
}
#conteudo_especifico:hover{
    box-shadow:  10px 10px 20px 5px rgb(209, 209, 209);
}
#acao{
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.botao_detalhes,#botao_comprar{
    width: 50%;
    height: 35px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px; 
}
.botao_detalhes button, #botao_comprar button{
    padding: 5px;
    width: 100px;
    height: 30px;
    border: transparent;
    font-weight: bolder;
    outline: 0;
    border-radius: 15px;
    color: white;
}
.botao_detalhes button:hover, #botao_comprar button:hover{
    border: solid 1px black;
}
#botao_comprar button{
    background: rgb(2, 10, 2);
    font-weight: bold;
}
#botao_comprar button:hover{
    background: rgb(255, 252, 79);
    color: black;
    font-weight: bold;
    transition: 0.8s;
}
.botao_detalhes button{
    background: rgb(8, 8, 8);
    font-weight: bold;
}
.botao_detalhes button:hover{
    background: rgb(255, 252, 79);
    color: black;
    font-weight: bold;
}
/* Formta  */
#conteiner #conteudo_especifico:nth-child(1),#conteiner #conteudo_especifico:nth-child(2),#conteiner #conteudo_especifico:nth-child(3)
{
    margin-top: 3%;
}
#central {
    text-align: center;
}
/* Formata Imagens*/
#imagem1{
    width: 90%;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
#imagem1 img{
    
    display: block;
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
}

/* Formata detalhes*/
#detalhes{
    width: 100%;
    float: left;
    font-size: 20;
    background: transparent;
    
    border-top: solid 1px;
    border-color: rgb(223, 218, 218) ;
    
}
#detalhes ul li {
    list-style-type: none;
    color: rgb(53, 52, 52);
}
#detalhes ul li:nth-child(1){
    text-align: center;
    font-weight: bolder;
    margin-top: 5%;
}
#detalhes ul li:nth-child(1) a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#detalhes:hover ul li a{
    text-decoration: underline;
}
#detalhes ul li:nth-child(2),#detalhes ul li:nth-child(3),#detalhes ul li:nth-child(4),#detalhes ul li:nth-child(5)
{
    text-indent: 10% ;
}
#detalhes ul > li:nth-child(2) > span{
    color: red;
    text-decoration: line-through;
}
#detalhes ul > li:nth-child(3) > span{
    font-weight: bolder;
    font-size: 1.1rem;
    color: black;
}
#detalhes ul > li:nth-child(4) span{
    color: rgb(19, 19, 241);
    font-weight: bolder;
}
#detalhes ul > li:nth-child(5) span{
    color: rgb(9, 158, 4);
    font-weight: bolder;
}
#detalhes ul > li:nth-child(5){
    margin-bottom: 1%;
}
#detalhes ul > li:nth-child(2){
    margin-top: 5%;
}
/* Div cadastra */
#funcionalidade2{
    width: 100%;
    min-height: 600px;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#funcionalidade2 #cadastra_btn_volta{
    border-radius: 5px;
    border:solid 1px rgb(151, 148, 148);
    width: 50px;
    height: 25px;
    float: left;
    margin-left: -60%;
    margin-top: -5%;
    background: white;
}

#funcionalidade2 form{
    margin-top: 5%;
}
#funcionalidade2 #cadastra_btn_volta span{
    font-weight: bolder;
}
.cadastro_tabela table{
    font-weight: bolder;
    color: rgb(66, 64, 64);
}
#btn_cadastra{
    margin-left: 5%;
}
.btn{
    padding: 5px;
    font-weight: bold;
}
#funcionalidade2 #cadastra_btn_volta{
    color: white;
    background: black;
}
#funcionalidade2 #cadastra_btn_volta:hover{
    background: rgb(255, 252, 79);
    color: black;
}
/* Formata Cadastra */
#tabela td:nth-child(1) {
    text-align: center;
}
#tabela td{
    padding: 20px;
}
#tabela input{
    width: 250px;
    outline: 0;
}
#cadastro{
    border: solid 1px;
    border-color: rgb(209, 209, 209) ;
    background: white;
    box-shadow: 23px 23px 10px 5px rgb(224, 222, 222);
}
#cadastro h1{
    text-align: center;
    text-decoration: underline;
    padding: 15px;
}
#cadastro textarea{
    resize: none;
    width: 250px;
    height: 80px;
    outline: 0;
}
#cadastro button{
    background: black;
    color: white;
    border: solid 1px;
    border-radius: 10px;
    width: 100px;
}
#cadastro button:hover{
    background: rgb(255, 252, 79);
    color: black;
}
/* Cadastro de usuario */
#cadastro_user{
    border: solid 1px;
    border-color: rgb(209, 209, 209) ;
    background: white;
    box-shadow: 23px 23px 10px 5px rgb(224, 222, 222);
    margin-top: 3%;
    margin-bottom: 3%;
}
#cadastro_user h1{
    text-align: center;
    text-decoration: underline;
    padding: 15px;
}
#cadastro_user table input{
   width: 250px;
   outline: 0;
}
#cadastro_user table td{
    padding: 5px;
}
.btn_largura{
    width: 50px;
}
#cadastro_user table{
    padding: 20px;
    width: 400px;
}
#cadastro_user table button{
    margin-top: 30px;
    background: black;
    color: white;
    border: solid 1px;
    border-radius: 10px;
    width: 100px;
}
#cadastro_user table button:hover{
    background: rgb(255, 252, 79);
    color: black;
}
/* Login user*/
#login_user{
    width: 400px;
    height: 400px;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: solid 1px rgb(209, 209, 209);
    box-shadow: 9px 7px 5px rgb(224, 222, 222);
}
#for_login{
    text-align: center;
}
#for_login button{
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10%;
    width: 60px;
    height: 30px;
    border: solid 1px rgb(54, 53, 53);
    background: black;
    color: white;
}
#for_login button:hover{
    background: rgb(255, 252, 79);
    color: black;
}
.lbl{
    background: rgb(230, 230, 230);
    margin-top: 4%;
    padding: 4%;
    width: 200px;
    height: 15;
    text-align: center;
    display: flex;
}
.lbl input{
    background: rgb(230, 230, 230);
    border: none;
    margin-left: 5%;
    width: 100%;
    outline: 0;
}
/* Exibe*/
#exibe{
    width: 1000px;
    height: 500px;
    background: white;

    border: solid 1px rgb(211, 210, 210);
}
#texto ul li{
    list-style-type: none;
    color: rgb(53, 52, 52);
    font-size: 1.3rem;
    
}
#texto ul li:nth-child(2),#texto ul li:nth-child(3),#texto ul li:nth-child(4),#texto ul li:nth-child(5)
{
    text-indent: 10% ;
}
#texto li:nth-child(1){
    text-align: center;
    margin-bottom: 10%;
    font-weight: bolder;
    color: black;
}
#texto ul li span{
    font-weight: bolder;
}
#texto ul li:nth-child(2) span{
    text-decoration: line-through;
    color: red;
}
#texto ul li:nth-child(3) span{
    color: black;
}
#texto ul li:nth-child(4) span{
    color: blue;

}
#texto ul li:nth-child(5) span{
    color: rgb(9, 158, 4);
}
#imagem{
    width: 499px;
    height: 500px;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
    border-right: solid 1px rgb(201, 201, 201);
}
#imagem img{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 65%;
    
}
#informes{
    float: left;
    width: 500px;
    height: 249px;
    background: rgb(252, 252, 252);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#texto{
    width: 80%;
    height: 60%;
    float: left;
    background: white;
    
}
#descricao{
    float: left;
    width: 500px;
    height: 250px;
    background: rgb(252, 252, 252);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#div_botao_descricao{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
#div_botao_descricao button{
    border-radius: 10px;
    border: solid 1px rgb(54, 53, 53);
    height: 30px;
    width: 150px;
    margin-top: 7%;
    margin-right: 50px;
    background: #ebebeb;
    font-weight: bold;
}
#div_botao_descricao a:nth-child(1) button{
    background: black;
    color: white;
}
#div_botao_descricao a:nth-child(1) button:hover{
    background: #fffc4f;
    color: black;
}
#div_botao_descricao a:nth-child(2) button{
    background: black;
    color: white;
}
#div_botao_descricao a:nth-child(2) button:hover{
    background: #fffc4f;
    color: black;
}
#texto_descricao{
    width: 93%;
    height: 80%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#texto_descricao p{
    text-indent: 2rem;
    font-size: 17;
    text-align: justify;
}
#texto_descricao h3{
    text-align: center;
    margin-left: 20%;
    color: rgb(117, 117, 117);
}
/* adicionarAoCarrinho*/
#adicionarAoCarrinho{

    width: 90%;
    min-height: 400px;
    background: white;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
}
#adicionarAoCarrinho h1:nth-child(2){
    text-align: center;
    margin-top: 10%;
    color: red;
}
#adicionarAoCarrinho button{
    border-radius: 10px;
    border: solid 1px rgb(54, 53, 53);
    height: 30px;
    width: 150px;
    margin-top: 7%;
    margin-left: 80%;
    background: black;
    color: white;
    font-weight: bold;
}
#adicionarAoCarrinho button:hover{
    background:#fffc4f;
    color: black;
}
#div_titulo{
    box-sizing: border-box;
}
.titulo_carrinho{
    text-align: center;
    color: green;
    padding-top: 35px;
    margin-bottom: auto;
}
#produto{
    width: 100%;
    min-height: 200px;
    margin-top: 3%;
    display: flex;
    flex-wrap: nowrap;
}
#img_produto{
    min-width: 20%;
    height: 200px;
    margin-left: 5%;
    border:solid 1px #d4d4d4;
    border-right: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
}
#img_produto img{
    width: 100%;
    height: 100%;
    max-width: 200px;
  
}
#informacao_produto{
    width: 100%;
    height: 200px;
    border:solid 1px #d4d4d4;
    border-right: none;
    
}
#informacao_produto h1{
    text-decoration: none;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    padding: 0px;
}
#div_texto{
    max-width: 450px;
    max-height: 119px;    
}
#div_texto p{
    text-align: center;
    margin-top: 15%;
    text-indent: 5%;
    font-size: 14px;
    margin-left: 5%;
}
#valor_produto{
    text-indent: 20%;
    font-size: 20px;
    min-width: 30%;
    height: 200px;
    margin-right: 5%;
    border:solid 1px #d4d4d4;
}

#valor_produto ul{
    margin-top: 14%;
}
#valor_produto ul li{
    color: rgb(53, 52, 52);
    list-style-type: none;
}
#valor_produto span{
    font-weight: bold;
}
#valor_produto ul li:nth-child(1) span{
    text-decoration: line-through;
    color: red;
}
#valor_produto ul li:nth-child(2) span{
    color: black;
}
#valor_produto ul li:nth-child(3) span{
    color: blue;
}
#valor_produto ul li:nth-child(4) span{
    color: rgb(9, 158, 4);
}
#valor_produto button{
    border-radius: 10px;
    border: solid 1px rgb(54, 53, 53);
    height: 30px;
    width: 100px;
    margin-top: 7%;
    margin-left: 60%;
    background: black;
    color: white;
    font-weight: bold;
}
#valor_produto button:hover{
    background:#fffc4f;
    color: black;
}
.dados_endereco{
    width: 90%;
    border: solid 1px #d4d4d4;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}
#div_informacoes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.dados_carrinho{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
}
.dados_endereco h3{
    display: block;
    border-bottom:solid 1px #d4d4d4;
    text-align: center;
    color: green;
}
#acao_produto{
    width: 100%;
    box-sizing: border-box;
    float: left;
    margin-top:3%;
    padding: 25px;
    vertical-align: bottom;
    text-align: end;
}
#acao_produto button{
    margin-left: 30px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: solid 1px rgb(54, 53, 53);
    background: black;
    color: white;
    font-weight: bold;
}
#acao_produto button:nth-child(1){
    width: 180px;
}
#acao_produto button:hover{
    background:#fffc4f;
    color: black;
}
#aprenseta{
    float: left;
    width: 79.5%;
    box-sizing: border-box;

}
#aprenseta ul{
    padding: 60px;
    list-style-type: none;
}
#aprenseta ul li{
    color: gray;
    font-weight: bold;
}
#aprenseta ul li:nth-child(1) span{
    color: red;
}
#aprenseta ul li:nth-child(2) span{
    color: blue;
}
#aprenseta ul li:nth-child(3) span{
    color: green;
}
#apresenta_valor{
    width: 20%;
    float:right;
    box-sizing: border-box;

}
#apresenta_valor p{
    font-weight: bold;
    font-size: 15px;
}
#apresenta_valor p:nth-child(1){
    background: rgb(245, 169, 169);
    border: solid 1px red;
    color: black;
    padding: 35px;
    border-bottom: none;
}
#apresenta_valor p:nth-child(2){
    background: rgb(170, 247, 170);
    border: solid 1px green;
    border-top: none;
    padding: 35px;
}
#div_valores {
    overflow: hidden;
}
#recibo h1{
    padding: 25px;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgb(128, 128, 128,0.7);
}
#recibo p {
    font-size: 25px;
    text-align: center;
}
#recibo p:nth-child(2){
    color: green;
}
#recibo button{
    width: 200px;
}
/* Formata a Div radape*/
#rodape{
    float: left;
    width: 100%;
    height: 100px;
    background:transparent;
    border-top: solid 1px;
    border-color:#d4d4d4;
}
#conteudo_rodape{
    text-align: center;
    box-sizing: border-box;
}
#conteudo_rodape ul{
    padding: 40px;
    list-style-type: none;
}
/* ADMINISTRACAO*/
#div_administracao{
    border: solid 1px;
    border-color:#d4d4d4;
    background: white;
    height: 500px;
    min-height: 500px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#menu_adm{
    width: 40%;
    height: 80%;
    border: solid 1px;
    text-align: center;
    box-sizing: border-box;
}
#menu_adm ul li,a{
    list-style-type: none;
    text-decoration: none;
}
#menu_adm h1{
    margin-top: 8%;
}
#menu_adm ul li:nth-child(1){
    margin-top: 10%;
}
#menu_adm ul li{
    padding: 10px;
    font-size: 20px;
}
/**/
/**/
/**/
/**/