*{
    margin: 0;
    padding: 0;
}
body{
    background:#f0f1f0;
}

#funcionalidade{
    
    width: 75%;
    float: left;
    border: solid 1px;
    border-radius: 0px 0px 35px 35px; 
    border: solid 1px;
    border-color: transparent;
    border-top: none;    
    
    min-height: 800px;
}
#navegacao{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#navegacao a{
    text-decoration: none;
}
#navegacao a:hover{
    color: red;
    text-decoration: underline;
    transition: 1s;
}

/* Formata a div TOP*/
#top{
    width: 100%;
    height: 100px;
    max-height: 150px;
    background: rgb(255, 252, 79);
    
}
/* Formata a Div conteudo */
#conteudo{
    width: 100%;
 
    border-radius: 10px 10px 10px 10px;
}
/* Formata lateral Esquerda*/
#div_lateral_esquerda{
    min-height: 500px;
    max-height: 600px;
    box-sizing: border-box;
    width: 15.3rem;
    text-align: center;
    float: left;
    background:#f0f1f0;
    border-radius: 0px 0px 10px 10px;
    vertical-align: middle;
}
#div_lateral_esquerda a{
    text-decoration: none;
    color: rgb(83, 81, 81);
     
}
#div_lateral_esquerda h1:nth-child(1){
    padding: 45px;
    margin: 0;
    float: left;
}
#div_lateral_esquerda ul li{
    padding: 8px;
}
#div_lateral_esquerda ul li:nth-child(1){
    margin-top:50%;
}
#div_lateral_esquerda a:hover{
    color: red;
    transition: 1s;
    text-decoration: underline;
}
/* Formata lateral Direita*/
#btn_cadastrar{
    border-radius: 5px;
    border: solid 1px;
    border-color: rgb(189, 186, 186);
    background: white;
    height: 30px;
    width: 80px;
    float: left;
    position: relative;
    margin-top: 3%;
    margin-left: -3%;

}
#btn_cadastrar:hover{
    background: rgb(255, 252, 79);
    border-color: black;
    color: rgb(0, 0, 0);
}
#btn_cadastrar span{
    font-weight: bolder;
}
/* Formata Div Conteiner*/
#conteiner{
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 92.5%;
    
}
/* Formata conteudo específico*/
#conteudo_especifico{
    width: 280px;
    height: 400px;
    max-height: 400px;
    margin: 10px;
    background: white;
    margin-top: 20px;
    border: solid 1px #cccbcb;
    border-radius: 30px 30px 30px 30px;
}
#conteudo_especifico:hover{
    box-shadow:  10px 10px 20px 5px rgb(209, 209, 209);
}

/* Formta  */
#conteiner #conteudo_especifico:nth-child(1),#conteiner #conteudo_especifico:nth-child(2),#conteiner #conteudo_especifico:nth-child(3)
{
    margin-top: 3%;
}
#central {
    text-align: center;
}
/* Formata Imagens*/
#imagem1{
    width: 90%;
    
    height: 200px;

    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
#imagem1 img{
    
    display: block;
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
}

/* Formata detalhes*/
#detalhes{
    width: 100%;
    float: left;
    font-size: 20;
    background: transparent;
    
    border-top: solid 1px;
    border-color: rgb(223, 218, 218) ;
    
}
#detalhes ul li {
    list-style-type: none;
    color: rgb(53, 52, 52);
}
#detalhes ul li:nth-child(1){
    text-align: center;
    font-weight: bolder;
    margin-top: 5%;
}
#detalhes ul li:nth-child(1) a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#detalhes:hover ul li a{
    text-decoration: underline;
}
#detalhes ul li:nth-child(2),#detalhes ul li:nth-child(3),#detalhes ul li:nth-child(4),#detalhes ul li:nth-child(5)
{
    text-indent: 10% ;
}
#detalhes ul > li:nth-child(2) > span{
    color: red;
    text-decoration: line-through;
}
#detalhes ul > li:nth-child(3) > span{
    font-weight: bolder;
    font-size: 1.1rem;
    color: black;
}
#detalhes ul > li:nth-child(4) span{
    color: rgb(19, 19, 241);
    font-weight: bolder;
}
#detalhes ul > li:nth-child(5) span{
    color: rgb(9, 158, 4);
    font-weight: bolder;
}
#detalhes ul > li:nth-child(5){
    margin-bottom: 5%;
}
#detalhes ul > li:nth-child(2){
    margin-top: 5%;
}
/* Div cadastra */
#funcionalidade2{
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#funcionalidade2 button:nth-child(1){
    border-radius: 5px;
    border:solid 1px rgb(151, 148, 148);
    width: 50px;
    height: 25px;
    float: left;
    margin-left: -60%;
    margin-top: -5%;
    background: white;
}
#funcionalidade2 h1{
    text-align: center;
    text-decoration: underline;
    padding: 15px;
}
#funcionalidade2 form{
    margin-top: 5%;
}
#funcionalidade2 button:nth-child(1) span{
    font-weight: bolder;
}
#cadastro table{
    font-weight: bolder;
    color: rgb(66, 64, 64);
}
#btn_cadastra{
    margin-left: 5%;
}
.btn{
    padding: 5px;
    font-weight: bold;
}

#funcionalidade2 button:nth-child(1):hover{
    background: rgb(255, 252, 79);
}
/* Formata Cadastra */
#tabela td:nth-child(1) {
    text-align: center;
}
#tabela td{
    padding: 20px;
}
#cadastro{
    border: solid 1px;
    border-color: rgb(209, 209, 209) ;
    background: white;
    box-shadow: 23px 23px 10px 5px rgb(224, 222, 222);
}
#cadastro textarea{
    resize: none;
    width: 173px;
    height: 80px;
}
#funcao{
    float: left;
    width: 99.8%;
    height: 50px;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}
#funcionalidade #funcao:nth-child(1){
    margin-top: 2%;
    margin-bottom: -2%;
}
/* Exibe*/
#exibe{
    width: 1000px;
    height: 500px;
    background: white;

    border: solid 1px rgb(211, 210, 210);
}
#texto ul li{
    list-style-type: none;
    color: rgb(53, 52, 52);
    font-size: 1.3rem;
    
}
#texto ul li:nth-child(2),#texto ul li:nth-child(3),#texto ul li:nth-child(4),#texto ul li:nth-child(5)
{
    text-indent: 10% ;
}
#texto li:nth-child(1){
    text-align: center;
    margin-bottom: 10%;
    font-weight: bolder;
    color: black;
}
#texto ul li span{
    font-weight: bolder;
}
#texto ul li:nth-child(2) span{
    text-decoration: line-through;
    color: red;
}
#texto ul li:nth-child(3) span{
    color: black;
}
#texto ul li:nth-child(4) span{
    color: blue;

}
#texto ul li:nth-child(5) span{
    color: rgb(9, 158, 4);
}
#imagem{
    width: 499px;
    height: 500px;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
    border-right: solid 1px rgb(201, 201, 201);
}
#imagem img{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 65%;
    
}
#informes{
    float: left;
    width: 500px;
    height: 249px;
    background: rgb(252, 252, 252);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#texto{
    width: 80%;
    height: 60%;
    float: left;
    background: white;
    
}
#descricao{
    float: left;
    width: 500px;
    height: 250px;
    background: rgb(252, 252, 252);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#texto_descricao{
    width: 93%;
    height: 60%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#texto_descricao p{
    text-indent: 1rem;
    font-size: 17;
}
#texto_descricao h3{
    text-align: center;
    margin-left: 20%;
    color: rgb(117, 117, 117);
}
/**/
/**/
/**/
/**/
/**/
/* Formata a Div radape*/
#rodape{
    float: left;
    margin-top: 2%;
    width: 100%;
    height: 100px;
    background:#f0f3f0;
    border-top: solid 1px;
    border-color:#dfdfdf;
}